{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="max-w-md mx-auto mt-24 bg-slate-900 p-8 rounded-xl">

<h2 class="text-2xl font-bold mb-6">Login</h2>

<form method="POST">

<input name="email" placeholder="Email"
class="w-full mb-4 p-3 bg-slate-800 rounded">

<input type="password" name="password" placeholder="Password"
class="w-full mb-4 p-3 bg-slate-800 rounded">

<button class="w-full bg-blue-500 py-3 rounded">
Login
</button>

</form>

</div>

{% endblock %}
